(MVP_ Busca + IA + Notion).json
{
  "name": "Radar de Vagas Tech - Isis (MVP: Busca + IA + Notion)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "b188c52e-4513-4fad-812f-6f6dbce78395",
      "name": "Agendamento (8h todo dia)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2992,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// AGENTE 1 - Perfil Profissional\n// Fixo por enquanto (gerado a partir do currículo real da Isis).\n// Quando quiser automatizar a leitura do currículo/portfólio, troque este node\n// por um fluxo que lê o PDF/Google Doc e faz o parsing via IA.\n\n// AGENTE 1 - Perfil Profissional (detalhado, a partir do currículo real)\nconst perfil = {\n  nome: \"Isis B. Alencastro\",\n  localizacao_atual: \"Porto Alegre, RS, Brasil\",\n  contato: {\n    email: \"alencastroisis@gmail.com\",\n    linkedin: \"linkedin.com/in/isisalencastro\"\n  },\n  resumo_profissional: \"Estudante de Ciência da Computação (UniRitter, 2025-2029) com experiência prática em desenvolvimento de software, automação com IA e suporte técnico. Participou do desenvolvimento de uma plataforma SaaS em produção, integrando LLMs (GPT-4, Claude) ao WhatsApp Business via N8N e PostgreSQL com busca vetorial semântica. Contribuiu para a digitalização de +200.000 processos no TJRS e para a entrega de +1.000 computadores recondicionados a escolas públicas do RS.\",\n  nivel: \"Estudante de Ciência da Computação (em andamento) / Júnior inicial\",\n  cargos_alvo: [\n    \"Estágio em Desenvolvimento de Software\",\n    \"Desenvolvedora Júnior Full Stack\",\n    \"Desenvolvedora Júnior Back-end\",\n    \"Automação com IA / No-code (N8N)\"\n  ],\n  modelo_trabalho_desejado: {\n    remoto: \"Aceita qualquer país/localização, sem restrição geográfica\",\n    presencial_ou_hibrido: \"Somente Brasil, com preferência por Porto Alegre - RS\"\n  },\n  educacao: [\n    { curso: \"Bacharelado em Ciência da Computação\", instituicao: \"UniRitter\", periodo: \"Fev/2025 - Jan/2029 (em andamento)\" },\n    { curso: \"Ensino Médio Técnico\", instituicao: \"Escola Técnica Estadual Parobé\", periodo: \"Fev/2021 - Dez/2023\" }\n  ],\n  experiencia: [\n    {\n      cargo: \"Desenvolvedora de Software (Freelancer)\",\n      empresa: \"Agência Aria\",\n      periodo: \"Nov/2025 - Mai/2026\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\n        \"Integrações entre APIs externas, LLMs (GPT-4 e Claude) e WhatsApp Business em produção\",\n        \"Arquitetura multi-tenant com controle de acesso por nível e boas práticas de segurança\",\n        \"Automações de processos com N8N conectando banco de dados, IA e canais de comunicação\",\n        \"Backend com PostgreSQL, incluindo busca semântica vetorial para atendimento inteligente\",\n        \"Produto com captura de leads, qualificação via IA e painel de analytics\"\n      ],\n      tecnologias: [\"N8N\", \"PostgreSQL\", \"Supabase\", \"GPT-4\", \"Claude\", \"WhatsApp Business API\"]\n    },\n    {\n      cargo: \"Recepcionista Terceirizada\",\n      empresa: \"Prefeitura Municipal de Porto Alegre\",\n      periodo: \"Dez/2024 - Presente\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\n        \"Triagem de pacientes em unidades de saúde, farmácias distritais e clínicas\",\n        \"Gerenciamento de agendamentos via sistema eletrônico\",\n        \"Padronização de processos internos para redução de tempo de espera\"\n      ]\n    },\n    {\n      cargo: \"Estagiária\",\n      empresa: \"Tribunal de Justiça do RS (TJRS)\",\n      periodo: \"Fev/2024 - Ago/2024\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\"Digitalização e conferência de +200.000 processos físicos\", \"Integridade documental para consulta eletrônica\"]\n    },\n    {\n      cargo: \"Jovem Aprendiz\",\n      empresa: \"PROCERGS\",\n      periodo: \"Jan/2023 - Dez/2023\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\"Montagem e manutenção de computadores (Projeto Sustentare)\", \"Apoio na entrega de +1.000 computadores a escolas públicas do RS\"]\n    }\n  ],\n  stack_tecnica: {\n    linguagens: [\"JavaScript\", \"Python\", \"SQL\", \"HTML\", \"CSS\"],\n    ferramentas: [\"N8N\", \"Supabase\", \"PostgreSQL\", \"Git\", \"GitHub\"],\n    ia_apis: [\"GPT-4 API\", \"Claude API\", \"WhatsApp Business API\", \"Engenharia de Prompt\"]\n  },\n  idiomas: [\n    { idioma: \"Português\", nivel: \"Nativo\" },\n    { idioma: \"Inglês\", nivel: \"Intermediário profissional (leitura fluente)\" }\n  ],\n  projetos_destaque: [\n    { nome: \"Portfólio pessoal\", link: \"https://isisalencastro.site/\" },\n    { nome: \"Gerador de roteiros (content-ia)\", link: \"https://github.com/isisalencastro/content-ia\" },\n    { nome: \"GameTools\", link: \"https://isisalencastro.github.io/gametools/\" },\n    { nome: \"FamilyHub\", link: \"https://github.com/isisalencastro/FamilyHub\" }\n  ]\n};\n\nreturn [{ json: perfil }];\n\n"
      },
      "id": "60f49760-b846-441e-b179-47c691ae5a6c",
      "name": "Perfil Profissional (Agente 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/39d15e550b9d809eb857e213f8dd36ff/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"page_size\": 100\n}",
        "options": {}
      },
      "id": "b13e3d10-e416-4518-b213-90973cc5accf",
      "name": "Buscar Vagas já salvas no Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        208
      ],
      "credentials": {
        "notionApi": {
          "id": "9qYPsgJrXoSoyGZh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://remoteok.com/api",
        "options": {}
      },
      "id": "0c720e8f-480a-4d4c-af8f-1f0b61542e20",
      "name": "RemoteOK - Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        -208
      ]
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "software-dev"
            },
            {
              "name": "limit",
              "value": "60"
            }
          ]
        },
        "options": {}
      },
      "id": "204849ac-f55b-4fa2-9261-202a7eb1ef90",
      "name": "Remotive - Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        -16
      ]
    },
    {
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "options": {}
      },
      "id": "78703971-e72d-4ae9-8596-9c8ec89f8954",
      "name": "Arbeitnow - Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        192
      ]
    },
    {
      "parameters": {},
      "id": "2699b6dc-949a-462c-b8bd-f3b1ce58c294",
      "name": "Juntar Fontes 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3888,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// AGENTE 2 - Normalização, deduplicação, pré-filtros, score heurístico e métricas\n// Responsabilidades deste node: converter fontes diferentes para um contrato único,\n// deduplicar por múltiplas chaves, calcular score barato antes da IA e registrar\n// todo descarte com motivo. Ajuste CONFIG para calibrar volume/custo sem alterar o fluxo.\n\nconst CONFIG = {\n  limiteScoreIA: Number($env.RADAR_VAGAS_SCORE_MINIMO_IA || 45),\n  maxDescricao: 5000,\n  tecnologiasPerfil: ['javascript', 'python', 'sql', 'postgresql', 'supabase', 'n8n', 'git', 'github', 'openai', 'claude', 'react', 'node'],\n  localidadesBrasil: ['brasil', 'brazil', 'porto alegre', 'poa', 'rio grande do sul', 'rs', 'são paulo', 'sao paulo', 'rio de janeiro', 'florianópolis', 'florianopolis', 'curitiba', 'belo horizonte'],\n  termosObrigatorios: ['intern', 'estágio', 'estagio', 'junior', 'júnior', 'jr', 'entry level', 'graduate', 'trainee', 'developer', 'engineer', 'desenvolvedor', 'desenvolvedora', 'programador'],\n  areasExcluidas: ['devops', 'data engineer', 'engenheiro de dados', 'qa senior', 'quality assurance senior', 'architect', 'arquiteto', 'principal', 'lead', 'staff', 'manager', 'gerente']\n};\n\nconst stripHtml = (value) => String(value || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst lower = (value) => stripHtml(value).toLowerCase();\nconst compact = (value) => lower(value).replace(/[^a-z0-9]+/g, ' ').trim();\nconst hash = (value) => {\n  let h = 2166136261;\n  const text = compact(value).slice(0, 2000);\n  for (let i = 0; i < text.length; i++) { h ^= text.charCodeAt(i); h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24); }\n  return (h >>> 0).toString(16);\n};\nconst asArray = (v) => Array.isArray(v) ? v : (v ? [v] : []);\nconst unique = (arr) => [...new Set(arr.filter(Boolean).map(String))];\nconst hasAny = (text, terms) => terms.some(t => new RegExp(`(^|[^a-z0-9])${t.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}([^a-z0-9]|$)`, 'i').test(text));\n\nlet idsExistentes = [];\ntry {\n  const notionResp = $('Buscar Vagas já salvas no Notion').first().json;\n  idsExistentes = (notionResp.results || []).map(page => page.properties?.['ID Externo']?.rich_text?.[0]?.plain_text || '').filter(Boolean);\n} catch (e) { idsExistentes = []; }\nconst idsSalvos = new Set(idsExistentes);\n\nfunction detectRemote(job, localText) {\n  return Boolean(job.remote || job.is_remote || job.workplaceType === 'remote' || /remote|remoto|anywhere|worldwide/i.test(localText));\n}\nfunction detectSeniority(text) {\n  if (/\\b(intern|internship|estágio|estagio|trainee)\\b/i.test(text)) return 'Estagio';\n  if (/\\b(junior|júnior|jr\\.?|entry level|graduate)\\b/i.test(text)) return 'Junior';\n  if (/\\b(senior|sr\\.?)\\b/i.test(text)) return 'Senior';\n  if (/\\b(staff|principal|lead|manager|architect)\\b/i.test(text)) return 'Incompativel';\n  return 'Nao especificado';\n}\nfunction detectTech(text, tags = []) {\n  const bag = `${text} ${asArray(tags).join(' ')}`;\n  const aliases = { javascript:['javascript','js'], python:['python'], sql:['sql'], postgresql:['postgres','postgresql'], supabase:['supabase'], n8n:['n8n'], git:['git'], github:['github'], openai:['openai','gpt'], claude:['claude'], react:['react'], node:['node','node.js','nodejs'] };\n  return Object.entries(aliases).filter(([, names]) => hasAny(bag, names)).map(([tech]) => tech);\n}\nfunction normalize(job, source) {\n  const titulo = job.position || job.title || job.jobTitle || job.name || 'Título não informado';\n  const empresa = job.company || job.company_name || job.companyName || job.organization || 'Não informado';\n  const local = job.location || job.candidate_required_location || job.jobLocation || job.city || 'Não informado';\n  const descricao = stripHtml(job.description || job.jobDescription || job.summary || job.text).slice(0, CONFIG.maxDescricao);\n  const url = job.url || job.applyUrl || job.link || job.jobUrl || job.linkedinUrl || '';\n  const tags = asArray(job.tags || job.keywords || job.skills);\n  const text = `${titulo} ${empresa} ${local} ${descricao} ${tags.join(' ')}`;\n  const idRaw = job.id || job.slug || job.jobId || job.externalId || url || `${empresa}-${titulo}-${hash(descricao)}`;\n  const tecnologias = detectTech(text, tags);\n  return {\n    id: `${source.toLowerCase()}_${idRaw}`,\n    id_externo: `${source.toLowerCase()}_${idRaw}`,\n    titulo, empresa, descricao, url, link: url, fonte: source, local,\n    remoto: detectRemote(job, local),\n    senioridade: detectSeniority(text),\n    tecnologias,\n    tags: unique([...tags, ...tecnologias]),\n    salario: job.salary || job.salaryText || job.compensation || null,\n    tipo_contrato: job.jobType || job.contractType || job.employmentType || null,\n    idioma: /\\benglish|required english|ingl[eê]s\\b/i.test(text) ? 'Inglês' : (/\\bportugu[eê]s|portuguese\\b/i.test(text) ? 'Português' : 'Não especificado'),\n    data_publicacao: job.date || job.publication_date || job.published_at || job.created_at || job.postedAt || null,\n    hash_descricao: hash(descricao)\n  };\n}\nfunction score(v) {\n  const text = lower(`${v.titulo} ${v.descricao} ${v.local} ${v.tecnologias.join(' ')}`);\n  let pontos = 0, motivos = [];\n  const add = (n,m) => { pontos += n; motivos.push(`${n > 0 ? '+' : ''}${n} ${m}`); };\n  if (/estágio|estagio/.test(text)) add(25, 'estágio');\n  if (/junior|júnior|jr\\.?|entry level/.test(text)) add(20, 'júnior/entry level');\n  if (/intern|internship/.test(text)) add(15, 'intern');\n  if (v.remoto) add(10, 'remoto');\n  if (/brasil|brazil/.test(text)) add(10, 'Brasil');\n  if (/porto alegre|\\bpoa\\b/.test(text)) add(10, 'Porto Alegre');\n  for (const tech of ['javascript','python','react','node','postgresql','n8n','openai']) if (v.tecnologias.includes(tech)) add(10, tech);\n  for (const [term, penalty] of [['senior',-40],['staff',-50],['principal',-50],['lead',-50],['manager',-80]]) if (hasAny(text, [term])) add(penalty, term);\n  return { pontos, motivos };\n}\nfunction discardReasons(v, pontos) {\n  const text = lower(`${v.titulo} ${v.descricao} ${v.local}`);\n  const reasons = [];\n  if (hasAny(text, CONFIG.areasExcluidas)) reasons.push('Área/senioridade incompatível');\n  if (!v.remoto && !hasAny(lower(v.local), CONFIG.localidadesBrasil)) reasons.push('Localização incompatível');\n  if (!hasAny(text, CONFIG.termosObrigatorios) && v.tecnologias.length === 0) reasons.push('Tecnologia/área incompatível');\n  if (pontos < CONFIG.limiteScoreIA) reasons.push(`Score heurístico muito baixo (${pontos} < ${CONFIG.limiteScoreIA})`);\n  return unique(reasons);\n}\n\nconst rawItems = $input.all();\nconst vagas = [];\nfor (const item of rawItems) {\n  const body = item.json;\n  if (Array.isArray(body)) for (const job of body) if (job && (job.id || job.position || job.title)) vagas.push(normalize(job, 'RemoteOK'));\n  if (body?.jobs) for (const job of body.jobs) vagas.push(normalize(job, 'Remotive'));\n  if (body?.data) for (const job of body.data) vagas.push(normalize(job, 'Arbeitnow'));\n  if (body?.items) for (const job of body.items) vagas.push(normalize(job, item.json.source || 'Apify'));\n  if (body?.title || body?.jobTitle) vagas.push(normalize(body, body.source || body.fonte || 'Apify'));\n}\n\nconst seen = new Set();\nconst output = [];\nfor (const v of vagas) {\n  const keys = [v.id_externo, v.url, `${compact(v.empresa)}|${compact(v.titulo)}`, v.hash_descricao].filter(Boolean);\n  const duplicada = keys.some(k => seen.has(k) || idsSalvos.has(k));\n  keys.forEach(k => seen.add(k));\n  const { pontos, motivos } = score(v);\n  const reasons = duplicada ? ['Duplicada'] : discardReasons(v, pontos);\n  output.push({ json: { ...v, score_heuristico: pontos, motivo_score: motivos.join('; '), status_pipeline: reasons.length ? 'Descartada antes da IA' : 'Elegível para IA', motivo_descarte: reasons.join('; '), enviar_para_ia: reasons.length === 0, metricas: { limite_score_ia: CONFIG.limiteScoreIA } } });\n}\nconsole.log(`RadarVagas: ${vagas.length} normalizadas, ${output.filter(i=>i.json.enviar_para_ia).length} enviadas para IA, ${output.filter(i=>!i.json.enviar_para_ia).length} descartadas antes da IA.`);\nreturn output;"
      },
      "id": "c84c1d2d-270b-431f-bdaf-97a24112e2e8",
      "name": "Normalizar + Remover Duplicadas (Agente 2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.enviar_para_ia }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "score-gate"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e928ea56-ab90-44a1-9e2d-cc47bfc0300e",
      "name": "Score >= limite para IA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4784,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ceb30592-e488-4a97-ba22-cc4c0e09b64c",
      "name": "Processar Uma Vaga por Vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5008,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"gpt-4o-mini\",\n  max_tokens: 1100,\n  temperature: 0.1,\n  response_format: { type: \"json_object\" },\n  messages: [\n    { role: \"system\", content: \"Você é um avaliador rigoroso de vagas tech para uma estudante de Ciência da Computação em início de carreira. Responda SOMENTE JSON válido, sem markdown. Campos obrigatórios: compatibilidade (0-100), vale_a_pena (boolean), prioridade (Baixa|Média|Alta), chance_entrevista (0-100), motivo_score (string), gaps (array), tecnologias_encontradas (array), tecnologias_faltantes (array), senioridade_detectada (Estagio|Junior|Pleno|Senior|Incompativel|Nao especificado), empresa_resumo (string), empresa_confiavel (boolean), ghost_job_probabilidade (0-100), ingles_obrigatorio (boolean), anos_experiencia (number|null), curriculo_precisa_personalizacao (boolean), carta_apresentacao_recomendada (boolean). Penalize senior/staff/principal/lead/manager, presencial fora do Brasil e stacks sem JavaScript/Python/SQL/automação/IA.\" },\n    { role: \"user\", content: \"PERFIL PROFISSIONAL:\\n\" + JSON.stringify($('Perfil Profissional (Agente 1)').first().json) + \"\\n\\nVAGA NORMALIZADA:\\n\" + JSON.stringify($json) }\n  ]\n}) }}",
        "options": {}
      },
      "id": "507c7fe5-5cd4-455a-b703-c2adbcf6a3d0",
      "name": "GPT - Avaliar Compatibilidade (Agente 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5232,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "FfM452GBoXW0VRw6",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrai o JSON retornado pela OpenAI (vem dentro de choices[0].message.content)\nconst resp = $input.first().json;\nlet texto = '';\ntry {\n  texto = resp.choices[0].message.content;\n} catch (e) {\n  texto = '{}';\n}\n\n// Remove possíveis cercas de markdown, por segurança (response_format json_object já evita isso, mas não custa manter)\ntexto = texto.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet avaliacao;\ntry {\n  avaliacao = JSON.parse(texto);\n} catch (e) {\n  avaliacao = {\n    compatibilidade: 0,\n    vale_a_pena: false, prioridade: 'Baixa', chance_entrevista: 0, motivo_score: 'Erro ao interpretar resposta da IA', gaps: ['Erro ao interpretar resposta da IA'], tecnologias_encontradas: [], tecnologias_faltantes: [], senioridade_detectada: 'Nao especificado', empresa_resumo: '', empresa_confiavel: false, ghost_job_probabilidade: 100, ingles_obrigatorio: false, anos_experiencia: null, curriculo_precisa_personalizacao: true, carta_apresentacao_recomendada: false\n  };\n}\n\nconst vaga = $('Processar Uma Vaga por Vez').item.json;\n\nreturn [{\n  json: {\n    ...vaga,\n    ...avaliacao,\n    score_ia: Number(avaliacao.compatibilidade || 0),\n    status_pipeline: avaliacao.vale_a_pena && Number(avaliacao.compatibilidade || 0) >= 75 ? 'Aprovada pela IA' : 'Descartada pela IA',\n    motivo_descarte: avaliacao.vale_a_pena && Number(avaliacao.compatibilidade || 0) >= 75 ? '' : (avaliacao.motivo_score || 'IA incompatível')\n  }\n}];"
      },
      "id": "1e4a8e9f-4d17-4774-ba17-4c8108cb134c",
      "name": "Parse Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5456,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  parent: { database_id: \"39d15e550b9d809eb857e213f8dd36ff\" },\n  properties: {\n    \"Vaga\": { title: [{ text: { content: $json.titulo || 'Título não informado' } }] },\n    \"Empresa\": { rich_text: [{ text: { content: $json.empresa || 'Não informado' } }] },\n    \"Link da vaga\": { url: $json.url || $json.link || null },\n    \"Fonte\": { select: { name: $json.fonte || 'Não informada' } },\n    \"ID Externo\": { rich_text: [{ text: { content: $json.id_externo || $json.id || '' } }] },\n    \"Local\": { rich_text: [{ text: { content: $json.local || 'Não informado' } }] },\n    \"Remoto\": { checkbox: Boolean($json.remoto) },\n    \"Senioridade\": { select: { name: $json.senioridade_detectada || $json.senioridade || 'Nao especificado' } },\n    \"Compatibilidade\": { number: Number($json.compatibilidade || 0) },\n    \"Score heurístico\": { number: Number($json.score_heuristico || 0) },\n    \"Score IA\": { number: Number($json.score_ia || $json.compatibilidade || 0) },\n    \"Prioridade\": { select: { name: $json.prioridade || 'Baixa' } },\n    \"Tecnologias encontradas\": { multi_select: (($json.tecnologias_encontradas || $json.tecnologias || [])).slice(0, 100).map(t => ({ name: String(t).slice(0, 100) })) },\n    \"Gaps\": { rich_text: [{ text: { content: (($json.gaps)||[]).join('; ').slice(0,1900) } }] },\n    \"Motivo\": { rich_text: [{ text: { content: ($json.motivo_score || '').slice(0,1900) } }] },\n    \"Motivo descarte\": { rich_text: [{ text: { content: ($json.motivo_descarte || '').slice(0,1900) } }] },\n    \"Resumo empresa\": { rich_text: [{ text: { content: ($json.empresa_resumo || $json.resumo_empresa || '').slice(0,1900) } }] },\n    \"Data encontrada\": { date: { start: $now.toISODate() } },\n    \"Status\": { select: { name: $json.status_pipeline === 'Aprovada pela IA' ? 'Novo' : 'Descartado' } }\n  }\n}) }}",
        "options": {}
      },
      "id": "fad8d06d-3acc-4001-9030-1d97ff3779d1",
      "name": "Criar Página no Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5904,
        64
      ],
      "credentials": {
        "notionApi": {
          "id": "9qYPsgJrXoSoyGZh",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "88888dea-bdf3-4fee-b502-c62478649c28",
      "name": "Descartar (abaixo do score)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5904,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.compatibilidade }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "d777fa42-6d76-462c-91f3-3af46457c838"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92bf34d9-efd6-4359-bbe4-f61973c087a2",
      "name": "Compatibilidade >= 75?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5680,
        -16
      ]
    },
    {
      "parameters": {},
      "id": "fefefb36-d23b-4aad-b905-4a1779c53c13",
      "name": "Juntar Fontes ",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4128,
        224
      ]
    },
    {
      "parameters": {},
      "id": "aabdaf4a-8edb-4f85-af4a-0e1fc3487b4a",
      "name": "Juntar Fontes 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3888,
        416
      ]
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "{\n  \"queries\": [\n    \"Software Engineer Intern\",\n    \"Software Developer Intern\",\n    \"Backend Intern\",\n    \"Front-end Intern\",\n    \"Frontend Intern\",\n    \"Full Stack Intern\",\n    \"Junior Backend Developer\",\n    \"Junior Software Engineer\",\n    \"Entry Level Software Engineer\",\n    \"Graduate Developer\",\n    \"JavaScript Developer Junior\",\n    \"Node.js Developer Junior\",\n    \"React Developer Junior\",\n    \"Python Developer Junior\",\n    \"AI Automation Intern\",\n    \"OpenAI Developer Intern\",\n    \"N8N Automation Intern\",\n    \"Estágio Desenvolvimento\",\n    \"Estágio Programação\",\n    \"Estágio TI\",\n    \"Estágio Engenharia de Software\",\n    \"Estágio Front-end\",\n    \"Estágio Back-end\",\n    \"Estágio Full Stack\",\n    \"Desenvolvedor Júnior\",\n    \"Desenvolvedora Júnior\",\n    \"Desenvolvedor Backend Júnior\",\n    \"Desenvolvedor Front-end Júnior\",\n    \"Desenvolvedor Full Stack Júnior\",\n    \"Programador Júnior\"\n  ],\n  \"maxPagesPerQuery\": 3\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        3664,
        656
      ],
      "id": "662796a0-9502-4a90-8e96-cbdf70e2e5ae",
      "name": "Linkedin Scraper - Busca Vagas",
      "credentials": {
        "apifyApi": {
          "id": "J5msdOs2NaTjhYrr",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "MXLpngmVpE8WTESQr",
          "mode": "list",
          "cachedResultName": "🚀 Indeed jobs scraper [PPR] (borderline/indeed-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/MXLpngmVpE8WTESQr/input"
        },
        "customBody": "{\n  \"queries\": [\n    \"Software Engineer Intern\",\n    \"Software Developer Intern\",\n    \"Backend Intern\",\n    \"Front-end Intern\",\n    \"Frontend Intern\",\n    \"Full Stack Intern\",\n    \"Junior Backend Developer\",\n    \"Junior Software Engineer\",\n    \"Entry Level Software Engineer\",\n    \"Graduate Developer\",\n    \"JavaScript Developer Junior\",\n    \"Node.js Developer Junior\",\n    \"React Developer Junior\",\n    \"Python Developer Junior\",\n    \"AI Automation Intern\",\n    \"OpenAI Developer Intern\",\n    \"N8N Automation Intern\",\n    \"Estágio Desenvolvimento\",\n    \"Estágio Programação\",\n    \"Estágio TI\",\n    \"Estágio Engenharia de Software\",\n    \"Estágio Front-end\",\n    \"Estágio Back-end\",\n    \"Estágio Full Stack\",\n    \"Desenvolvedor Júnior\",\n    \"Desenvolvedora Júnior\",\n    \"Desenvolvedor Backend Júnior\",\n    \"Desenvolvedor Front-end Júnior\",\n    \"Desenvolvedor Full Stack Júnior\",\n    \"Programador Júnior\"\n  ],\n  \"maxPagesPerQuery\": 3\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        3664,
        448
      ],
      "id": "54de359b-4aae-482a-9ee4-6dec5d3fd82e",
      "name": "Indeed Scraper - Busca Vagas",
      "credentials": {
        "apifyApi": {
          "id": "J5msdOs2NaTjhYrr",
          "name": "Apify account 3"
        }
      }
    },
    {
      "parameters": {},
      "id": "b98e8e75-33c2-414f-bb97-60905c9e98da",
      "name": "Juntar Fontes 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3952,
        656
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Agendamento (8h todo dia)": {
      "main": [
        [
          {
            "node": "Perfil Profissional (Agente 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perfil Profissional (Agente 1)": {
      "main": [
        [
          {
            "node": "Buscar Vagas já salvas no Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Vagas já salvas no Notion": {
      "main": [
        [
          {
            "node": "RemoteOK - Buscar Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remotive - Buscar Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Arbeitnow - Buscar Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Indeed Scraper - Busca Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin Scraper - Busca Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoteOK - Buscar Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotive - Buscar Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Juntar Fontes 1": {
      "main": [
        [
          {
            "node": "Juntar Fontes ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arbeitnow - Buscar Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar + Remover Duplicadas (Agente 2)": {
      "main": [
        [
          {
            "node": "Score >= limite para IA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Uma Vaga por Vez": {
      "main": [
        [],
        [
          {
            "node": "GPT - Avaliar Compatibilidade (Agente 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT - Avaliar Compatibilidade (Agente 3)": {
      "main": [
        [
          {
            "node": "Parse Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resposta IA": {
      "main": [
        [
          {
            "node": "Compatibilidade >= 75?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Página no Notion": {
      "main": [
        [
          {
            "node": "Processar Uma Vaga por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descartar (abaixo do score)": {
      "main": [
        [
          {
            "node": "Processar Uma Vaga por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compatibilidade >= 75?": {
      "main": [
        [
          {
            "node": "Criar Página no Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Página no Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Fontes ": {
      "main": [
        [
          {
            "node": "Normalizar + Remover Duplicadas (Agente 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Fontes 3": {
      "main": [
        [
          {
            "node": "Juntar Fontes ",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Indeed Scraper - Busca Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Scraper - Busca Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Juntar Fontes 4": {
      "main": [
        [
          {
            "node": "Juntar Fontes 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Score >= limite para IA?": {
      "main": [
        [
          {
            "node": "Processar Uma Vaga por Vez",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Página no Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f80d8913-6594-4ff4-9476-66db369cc6b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed02b655b0a269884492232e0d8d9d8e3bb0ac1c5e77b75cb8925644dc06d9d"
  },
  "nodeGroups": [],
  "id": "EbTQybJIKjUUCsjQ",
  "tags": []
}