Radar de Vagas - Workflow.json
{
  "name": "Radar de Vagas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "d43a5b7d-4449-4437-b0d6-4b28789c631a",
      "name": "Agendamento (8h todo dia)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// AGENTE 1 - Perfil Profissional\n// Fixo por enquanto (gerado a partir do currículo real da Isis).\n// Quando quiser automatizar a leitura do currículo/portfólio, troque este node\n// por um fluxo que lê o PDF/Google Doc e faz o parsing via IA.\n\n// AGENTE 1 - Perfil Profissional (detalhado, a partir do currículo real)\nconst perfil = {\n  nome: \"Isis B. Alencastro\",\n  localizacao_atual: \"Porto Alegre, RS, Brasil\",\n  contato: {\n    email: \"alencastroisis@gmail.com\",\n    linkedin: \"linkedin.com/in/isisalencastro\"\n  },\n  resumo_profissional: \"Estudante de Ciência da Computação (UniRitter, 2025-2029) com experiência prática em desenvolvimento de software, automação com IA e suporte técnico. Participou do desenvolvimento de uma plataforma SaaS em produção, integrando LLMs (GPT-4, Claude) ao WhatsApp Business via N8N e PostgreSQL com busca vetorial semântica. Contribuiu para a digitalização de +200.000 processos no TJRS e para a entrega de +1.000 computadores recondicionados a escolas públicas do RS.\",\n  nivel: \"Estudante de Ciência da Computação (em andamento) / Júnior inicial\",\n  cargos_alvo: [\n    \"Estágio em Desenvolvimento de Software\",\n    \"Desenvolvedora Júnior Full Stack\",\n    \"Desenvolvedora Júnior Back-end\",\n    \"Automação com IA / No-code (N8N)\"\n  ],\n  modelo_trabalho_desejado: {\n    remoto: \"Aceita qualquer país/localização, sem restrição geográfica\",\n    presencial_ou_hibrido: \"Somente Brasil, com preferência por Porto Alegre - RS\"\n  },\n  educacao: [\n    { curso: \"Bacharelado em Ciência da Computação\", instituicao: \"UniRitter\", periodo: \"Fev/2025 - Jan/2029 (em andamento)\" },\n    { curso: \"Ensino Médio Técnico\", instituicao: \"Escola Técnica Estadual Parobé\", periodo: \"Fev/2021 - Dez/2023\" }\n  ],\n  experiencia: [\n    {\n      cargo: \"Desenvolvedora de Software (Freelancer)\",\n      empresa: \"Agência Aria\",\n      periodo: \"Nov/2025 - Mai/2026\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\n        \"Integrações entre APIs externas, LLMs (GPT-4 e Claude) e WhatsApp Business em produção\",\n        \"Arquitetura multi-tenant com controle de acesso por nível e boas práticas de segurança\",\n        \"Automações de processos com N8N conectando banco de dados, IA e canais de comunicação\",\n        \"Backend com PostgreSQL, incluindo busca semântica vetorial para atendimento inteligente\",\n        \"Produto com captura de leads, qualificação via IA e painel de analytics\"\n      ],\n      tecnologias: [\"N8N\", \"PostgreSQL\", \"Supabase\", \"GPT-4\", \"Claude\", \"WhatsApp Business API\"]\n    },\n    {\n      cargo: \"Recepcionista Terceirizada\",\n      empresa: \"Prefeitura Municipal de Porto Alegre\",\n      periodo: \"Dez/2024 - Presente\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\n        \"Triagem de pacientes em unidades de saúde, farmácias distritais e clínicas\",\n        \"Gerenciamento de agendamentos via sistema eletrônico\",\n        \"Padronização de processos internos para redução de tempo de espera\"\n      ]\n    },\n    {\n      cargo: \"Estagiária\",\n      empresa: \"Tribunal de Justiça do RS (TJRS)\",\n      periodo: \"Fev/2024 - Ago/2024\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\"Digitalização e conferência de +200.000 processos físicos\", \"Integridade documental para consulta eletrônica\"]\n    },\n    {\n      cargo: \"Jovem Aprendiz\",\n      empresa: \"PROCERGS\",\n      periodo: \"Jan/2023 - Dez/2023\",\n      local: \"Porto Alegre, RS\",\n      atividades: [\"Montagem e manutenção de computadores (Projeto Sustentare)\", \"Apoio na entrega de +1.000 computadores a escolas públicas do RS\"]\n    }\n  ],\n  stack_tecnica: {\n    linguagens: [\"JavaScript\", \"Python\", \"SQL\", \"HTML\", \"CSS\"],\n    ferramentas: [\"N8N\", \"Supabase\", \"PostgreSQL\", \"Git\", \"GitHub\"],\n    ia_apis: [\"GPT-4 API\", \"Claude API\", \"WhatsApp Business API\", \"Engenharia de Prompt\"]\n  },\n  idiomas: [\n    { idioma: \"Português\", nivel: \"Nativo\" },\n    { idioma: \"Inglês\", nivel: \"Intermediário profissional (leitura fluente)\" }\n  ],\n  projetos_destaque: [\n    { nome: \"Portfólio pessoal\", link: \"https://isisalencastro.site/\" },\n    { nome: \"Gerador de roteiros (content-ia)\", link: \"https://github.com/isisalencastro/content-ia\" },\n    { nome: \"GameTools\", link: \"https://isisalencastro.github.io/gametools/\" },\n    { nome: \"FamilyHub\", link: \"https://github.com/isisalencastro/FamilyHub\" }\n  ]\n};\n\nreturn [{ json: perfil }];\n\n"
      },
      "id": "172d2dd9-d67e-4b9e-83e2-17960fda2d97",
      "name": "Perfil Profissional (Agente 1)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// CONFIG - Lista central de termos de busca (PT + EN)\n// Edite APENAS este node para adicionar/remover termos de busca.\n// Usado hoje por: Indeed Scraper e Linkedin Scraper (Apify).\n// Pode ser reaproveitado por qualquer fonte nova que precise de busca por palavra-chave\n// (ex.: um futuro node de Greenhouse/Lever por empresa).\n\nconst termos = [\n  // Inglês\n  \"Software Engineer Intern\",\n  \"Software Developer Intern\",\n  \"Backend Intern\",\n  \"Frontend Intern\",\n  \"Full Stack Intern\",\n  \"Junior Software Engineer\",\n  \"Junior Backend Developer\",\n  \"Junior Frontend Developer\",\n  \"Entry Level Software Engineer\",\n  \"Graduate Developer\",\n  \"JavaScript Developer Junior\",\n  \"Node.js Developer Junior\",\n  \"React Developer Junior\",\n  \"Python Developer Junior\",\n  \"AI Automation Intern\",\n  \"OpenAI Developer Intern\",\n  // Português\n  \"Estágio Desenvolvimento\",\n  \"Estágio Programação\",\n  \"Estágio TI\",\n  \"Estágio Engenharia de Software\",\n  \"Desenvolvedor Júnior\",\n  \"Desenvolvedor Backend Júnior\",\n  \"Desenvolvedor Front-end Júnior\",\n  \"Desenvolvedor Full Stack Júnior\"\n];\n\nconsole.log(`[Config] ${termos.length} termos de busca carregados.`);\n\nreturn [{ json: { termos } }];"
      },
      "id": "3f980345-c316-433b-9d9d-32c5266e43b5",
      "name": "Config - Termos de Busca",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/39d15e550b9d809eb857e213f8dd36ff/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"page_size\": 100\n}",
        "options": {}
      },
      "id": "18e6eeb1-1d9b-42c5-8abe-e3c3dc08c5de",
      "name": "Buscar Vagas já salvas no Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        256
      ],
      "credentials": {
        "notionApi": {
          "id": "9qYPsgJrXoSoyGZh",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://remoteok.com/api",
        "options": {}
      },
      "id": "1b2da6a8-d3fa-434b-9884-d1efe43ea84d",
      "name": "RemoteOK - Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -128
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "software-dev"
            },
            {
              "name": "limit",
              "value": "250"
            }
          ]
        },
        "options": {}
      },
      "id": "2da6fa89-7b38-4970-b8d2-90351cc0f781",
      "name": "Remotive - Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.arbeitnow.com/api/job-board-api",
        "options": {}
      },
      "id": "195bbb65-beb4-44b4-a102-4f1625d73fa7",
      "name": "Arbeitnow - Buscar Vagas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "MXLpngmVpE8WTESQr",
          "mode": "list",
          "cachedResultName": "🚀 Indeed jobs scraper [PPR] (borderline/indeed-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/MXLpngmVpE8WTESQr/input"
        },
        "customBody": "={{ JSON.stringify({ queries: $('Config - Termos de Busca').first().json.termos.map(t => t + ' remoto'), maxPagesPerQuery: 1 }) }}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        176,
        384
      ],
      "id": "049b7d2f-65d4-48a7-bd9a-36a0d690a02c",
      "name": "Indeed Scraper - Busca Vagas",
      "credentials": {
        "apifyApi": {
          "id": "J5msdOs2NaTjhYrr",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "hKByXkMQaC5Qt9UMN",
          "mode": "list",
          "cachedResultName": "Linkedin Jobs Scraper (curious_coder/linkedin-jobs-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/hKByXkMQaC5Qt9UMN/input"
        },
        "customBody": "={{ JSON.stringify({ urls: $('Config - Termos de Busca').first().json.termos.map(t => `https://www.linkedin.com/jobs/search/?keywords=${encodeURIComponent(t)}&location=Brazil`) }) }}",
        "timeout": {}
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        176,
        576
      ],
      "id": "d200f326-7a3f-4f2b-8c56-2ecb64e0ee6e",
      "name": "Linkedin Scraper - Busca Vagas",
      "credentials": {
        "apifyApi": {
          "id": "J5msdOs2NaTjhYrr",
          "name": "Apify account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza a saída do Apify (Indeed) para o formato interno padrão da automação.\n// Os nomes de campo variam conforme a versão do actor - por isso os fallbacks com \"||\".\n// Se o actor mudar de novo, confira 1x a aba \"Output\" da execução no n8n e ajuste aqui.\n\nreturn $input.all().map(item => {\n  const j = item.json;\n  const titulo = j.title || j.positionName || j.jobTitle || '';\n  if (!titulo) return null;\n\n  const empresa = j.company || j.companyName || 'Não informado';\n  const local = j.location || j.jobLocation || 'Não informado';\n  const chaveFallback = (empresa + '_' + titulo).toLowerCase().replace(/\\s+/g, '_');\n\n  return {\n    json: {\n      id_externo: 'indeed_' + (j.id || j.jobKey || chaveFallback),\n      titulo,\n      empresa,\n      local,\n      remoto: /remot[eo]/i.test(String(local)),\n      link: j.url || j.jobUrl || j.link || '',\n      descricao: String(j.description || j.descriptionText || j.snippet || '').replace(/<[^>]+>/g, ' ').slice(0, 4000),\n      tags: j.tags || [],\n      fonte: 'Indeed'\n    }\n  };\n}).filter(Boolean);"
      },
      "id": "1c71e2aa-03a0-4550-bbd1-2ce5af98530a",
      "name": "Normalizar - Indeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        384
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Normaliza a saída do Apify (Linkedin) para o formato interno padrão da automação.\n// Os nomes de campo variam conforme a versão do actor - por isso os fallbacks com \"||\".\n// Se o actor mudar de novo, confira 1x a aba \"Output\" da execução no n8n e ajuste aqui.\n\nreturn $input.all().map(item => {\n  const j = item.json;\n  const titulo = j.title || j.positionName || j.jobTitle || '';\n  if (!titulo) return null;\n\n  const empresa = j.companyName || j.company || 'Não informado';\n  const local = j.location || j.jobLocation || 'Não informado';\n  const chaveFallback = (empresa + '_' + titulo).toLowerCase().replace(/\\s+/g, '_');\n\n  return {\n    json: {\n      id_externo: 'linkedin_' + (j.id || j.jobId || chaveFallback),\n      titulo,\n      empresa,\n      local,\n      remoto: /remot[eo]/i.test(String(local)),\n      link: j.link || j.url || j.jobUrl || '',\n      descricao: String(j.descriptionText || j.description || '').replace(/<[^>]+>/g, ' ').slice(0, 4000),\n      tags: j.tags || [],\n      fonte: 'Linkedin'\n    }\n  };\n}).filter(Boolean);"
      },
      "id": "d57315c8-570e-49d5-b22f-b133416790fa",
      "name": "Normalizar - Linkedin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        576
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "452ad034-a5ba-46c9-a658-6e4e9a027c1e",
      "name": "Juntar Fontes 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        400,
        -32
      ]
    },
    {
      "parameters": {},
      "id": "92aa897b-a8d1-4944-8b59-23a5ddae9920",
      "name": "Juntar Fontes 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        624,
        480
      ]
    },
    {
      "parameters": {},
      "id": "5807e3b2-4a18-483a-976c-56b1e2221c9a",
      "name": "Juntar Fontes 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        848,
        432
      ]
    },
    {
      "parameters": {},
      "id": "517d6899-7e03-477b-bc43-1aefa664ad73",
      "name": "Juntar Fontes 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1072,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// AGENTE 2 - Normalização final (RemoteOK / Remotive / Arbeitnow) + Deduplicação global\n// Indeed e Linkedin já chegam normalizados (ver nodes \"Normalizar - Indeed\" e\n// \"Normalizar - Linkedin\", logo após os scrapers Apify). Aqui só:\n//   1) padronizamos as 3 fontes \"brutas\" (RemoteOK/Remotive/Arbeitnow) pro mesmo formato\n//   2) juntamos tudo e removemos duplicadas (dentro da execução e contra o que já está no Notion)\n//\n// Pra adicionar uma nova fonte \"bruta\" no futuro: copie um dos blocos abaixo (RemoteOK,\n// Remotive ou Arbeitnow) e ajuste o `if` de detecção do formato de resposta da API nova.\n\nconst rawItems = $input.all();\n\n// --- IDs e URLs já salvos no Notion (evita duplicar entre execuções) ---\nlet idsExistentes = new Set();\nlet urlsExistentes = new Set();\ntry {\n  const notionResp = $('Buscar Vagas já salvas no Notion').first().json;\n  for (const page of (notionResp.results || [])) {\n    const idProp = page.properties && page.properties['ID Externo'];\n    const idVal = (idProp && idProp.rich_text && idProp.rich_text[0] && idProp.rich_text[0].plain_text) || '';\n    if (idVal) idsExistentes.add(idVal);\n\n    const urlProp = page.properties && page.properties['Link da vaga'];\n    const urlVal = (urlProp && urlProp.url) || '';\n    if (urlVal) urlsExistentes.add(urlVal);\n  }\n} catch (e) {\n  console.log('[Normalização] Não foi possível ler vagas existentes do Notion:', e.message);\n}\n\nfunction limparHtml(txt) {\n  return String(txt || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().slice(0, 4000);\n}\n\n// Hash simples (não-criptográfico), só pra achar descrições muito parecidas\nfunction hashTexto(txt) {\n  const s = String(txt || '').toLowerCase().replace(/\\s+/g, '').slice(0, 500);\n  let hash = 0;\n  for (let i = 0; i < s.length; i++) hash = (hash * 31 + s.charCodeAt(i)) | 0;\n  return hash.toString(36);\n}\n\nconst vagas = [];\nconst contagemPorFonte = {};\nfunction registrar(fonte) { contagemPorFonte[fonte] = (contagemPorFonte[fonte] || 0) + 1; }\n\nfor (const item of rawItems) {\n  const body = item.json;\n  if (!body) continue;\n\n  // Item de erro (um node upstream falhou com \"continue on fail\")\n  if (body.error) {\n    console.log('[Normalização] Fonte com erro, item ignorado:', body.error);\n    continue;\n  }\n\n  // Já normalizado (Indeed/Linkedin) - reconhecível por já ter id_externo + fonte\n  if (body.id_externo && body.fonte) {\n    vagas.push(body);\n    registrar(body.fonte);\n    continue;\n  }\n\n  // RemoteOK: array direto de vagas\n  if (Array.isArray(body)) {\n    for (const job of body) {\n      if (!job.id || !job.position) continue;\n      vagas.push({\n        id_externo: 'remoteok_' + job.id,\n        titulo: job.position,\n        empresa: job.company || 'Não informado',\n        local: job.location || 'Remoto',\n        remoto: true,\n        link: job.url || ('https://remoteok.com/remote-jobs/' + job.id),\n        descricao: limparHtml(job.description),\n        tags: job.tags || [],\n        fonte: 'RemoteOK'\n      });\n      registrar('RemoteOK');\n    }\n    continue;\n  }\n\n  // Remotive: { jobs: [...] }\n  if (Array.isArray(body.jobs)) {\n    for (const job of body.jobs) {\n      vagas.push({\n        id_externo: 'remotive_' + job.id,\n        titulo: job.title,\n        empresa: job.company_name || 'Não informado',\n        local: job.candidate_required_location || 'Remoto',\n        remoto: true,\n        link: job.url,\n        descricao: limparHtml(job.description),\n        tags: job.tags || [],\n        fonte: 'Remotive'\n      });\n      registrar('Remotive');\n    }\n    continue;\n  }\n\n  // Arbeitnow: { data: [...] }\n  if (Array.isArray(body.data)) {\n    for (const job of body.data) {\n      vagas.push({\n        id_externo: 'arbeitnow_' + job.slug,\n        titulo: job.title,\n        empresa: job.company_name || 'Não informado',\n        local: job.location || 'Remoto',\n        remoto: !!job.remote,\n        link: job.url,\n        descricao: limparHtml(job.description),\n        tags: job.tags || [],\n        fonte: 'Arbeitnow'\n      });\n      registrar('Arbeitnow');\n    }\n    continue;\n  }\n}\n\nconsole.log('[Normalização] Vagas brutas por fonte:', JSON.stringify(contagemPorFonte), '| total normalizado:', vagas.length);\n\n// --- Deduplicação (nesta ordem): id_externo -> url -> empresa+cargo -> hash da descrição ---\nconst vistoId = new Set();\nconst vistoUrl = new Set();\nconst vistoEmpresaCargo = new Set();\nconst vistoHashDescricao = new Set();\n\nconst novas = vagas.filter(v => {\n  if (idsExistentes.has(v.id_externo)) return false;\n  if (v.link && urlsExistentes.has(v.link)) return false;\n\n  if (vistoId.has(v.id_externo)) return false;\n  if (v.link && vistoUrl.has(v.link)) return false;\n\n  const chaveEmpresaCargo = (v.empresa + '|' + v.titulo).toLowerCase().replace(/\\s+/g, ' ').trim();\n  if (vistoEmpresaCargo.has(chaveEmpresaCargo)) return false;\n\n  const hashDesc = hashTexto(v.descricao);\n  if (hashDesc && vistoHashDescricao.has(hashDesc)) return false;\n\n  vistoId.add(v.id_externo);\n  if (v.link) vistoUrl.add(v.link);\n  vistoEmpresaCargo.add(chaveEmpresaCargo);\n  if (hashDesc) vistoHashDescricao.add(hashDesc);\n  return true;\n});\n\nconsole.log(`[Normalização] Após deduplicação: ${novas.length} vagas novas (${vagas.length - novas.length} duplicadas removidas).`);\n\nreturn novas.map(v => ({ json: v }));"
      },
      "id": "e869e1e3-8368-4333-9dc6-0809d8d7cf25",
      "name": "Normalizar + Deduplicar (Agente 2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ /junior|júnior|jr\\.|estagio|estágio|trainee|entry.level|intern|graduate|assistant/i.test($json.titulo + ' ' + $json.descricao) && !/senior|sr\\.|staff|principal|lead|specialist|manager|architect/i.test($json.titulo) }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "98684a5e-bda4-44df-84b5-ba2e82571a71"
            },
            {
              "id": "1d62205b-48bc-4567-9ca3-75340528240f",
              "leftValue": "={{ $json.remoto === true || /brasil|brazil|porto alegre|\\bpoa\\b/i.test($json.local) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "efd1e159-07c6-49a8-8b61-48ff9741210e",
      "name": "Pré-Filtro (Júnior/Estágio + Local)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1520,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e2f9aec-b07d-4e09-a896-5c7308e80cd0",
      "name": "Processar Uma Vaga por Vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1744,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"gpt-4o-mini\",\n  max_tokens: 1000,\n  response_format: { type: \"json_object\" },\n  messages: [\n    {\n      role: \"system\",\n      content: \"Você avalia compatibilidade entre um perfil profissional e uma vaga de emprego, para uma candidata em início de carreira (estudante de Ciência da Computação, buscando estágio ou vaga júnior). Responda SOMENTE com um JSON válido (sem markdown, sem texto fora do JSON), com os campos: compatibilidade (numero 0-100), pontos_fortes (array de strings curtas), gaps (array de strings curtas), vale_a_pena (boolean), resumo_empresa (string, 1-2 frases), senioridade_da_vaga (uma de: Estagio, Junior, Pleno, Senior, Nao especificado), tecnologias_encontradas (array com as tecnologias do perfil que aparecem na vaga), stack_ausente (array de tecnologias pedidas na vaga que NAO aparecem no perfil), localizacao_avaliada (string curta, ex: 'Remoto sem restricao', 'Presencial Porto Alegre', 'Fora do alcance'), idioma_requerido (string curta, ex: 'Portugues', 'Ingles avancado', 'Nao especificado'), exige_experiencia_previa (boolean), justificativa_nota (string curta, 1 frase explicando a nota de compatibilidade), area_vaga (uma de: Dev, Dados, Suporte).\"\n    },\n    {\n      role: \"user\",\n      content: \"PERFIL PROFISSIONAL:\\n\" + JSON.stringify($('Perfil Profissional (Agente 1)').first().json) + \"\\n\\nSCORE HEURISTICO (triagem automatica): \" + $json.score_heuristico + \"\\n\\nVAGA:\\nTitulo: \" + $json.titulo + \"\\nEmpresa: \" + $json.empresa + \"\\nLocal: \" + $json.local + \"\\nDescricao: \" + $json.descricao\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "134efc7d-205f-4b51-a3ff-76994a4de910",
      "name": "GPT - Avaliar Compatibilidade (Agente 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        48
      ],
      "credentials": {
        "openAiApi": {
          "id": "FfM452GBoXW0VRw6",
          "name": "OpenAI account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extrai o JSON retornado pela OpenAI (vem dentro de choices[0].message.content)\nconst resp = $input.first().json;\nlet texto = '';\ntry {\n  texto = resp.choices[0].message.content;\n} catch (e) {\n  texto = '{}';\n}\n\ntexto = texto.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet avaliacao;\ntry {\n  avaliacao = JSON.parse(texto);\n} catch (e) {\n  avaliacao = {};\n}\n\n// Defaults garantem que a página no Notion nunca quebra por campo faltando\nconst avaliacaoCompleta = {\n  compatibilidade: 0,\n  pontos_fortes: [],\n  gaps: ['Erro ao interpretar resposta da IA'],\n  vale_a_pena: false,\n  resumo_empresa: '',\n  senioridade_da_vaga: 'Nao especificado',\n  tecnologias_encontradas: [],\n  stack_ausente: [],\n  localizacao_avaliada: '',\n  idioma_requerido: '',\n  exige_experiencia_previa: null,\n  justificativa_nota: '',\n  area_vaga: 'Dev',\n  ...avaliacao\n};\n\nconst vaga = $('Processar Uma Vaga por Vez').item.json;\n\nconsole.log(`[IA] \"${vaga.titulo}\" (${vaga.empresa}) | score heurístico=${vaga.score_heuristico} | compatibilidade IA=${avaliacaoCompleta.compatibilidade}`);\n\nreturn [{\n  json: {\n    ...vaga,\n    ...avaliacaoCompleta\n  }\n}];"
      },
      "id": "34a2bc15-bccd-4473-a7cc-714fad4cfb0c",
      "name": "Parse Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  parent: { database_id: \"39d15e550b9d809eb857e213f8dd36ff\" },\n  properties: {\n    \"Vaga\": { title: [{ text: { content: $json.titulo } }] },\n    \"Empresa\": { rich_text: [{ text: { content: $json.empresa } }] },\n    \"Link da vaga\": { url: $json.link },\n    \"Fonte\": { select: { name: $json.fonte } },\n    \"ID Externo\": { rich_text: [{ text: { content: $json.id_externo } }] },\n    \"Local\": { rich_text: [{ text: { content: $json.local } }] },\n    \"Remoto\": { checkbox: $json.remoto },\n    \"Senioridade\": { select: { name: $json.senioridade_da_vaga || 'Nao especificado' } },\n    \"Compatibilidade\": { number: $json.compatibilidade },\n    \"Tecnologias encontradas\": { multi_select: (($json.tecnologias_encontradas)||[]).map(t => ({ name: t })) },\n    \"Pontos fortes\": { rich_text: [{ text: { content: (($json.pontos_fortes)||[]).join('; ').slice(0,1900) } }] },\n    \"Gaps\": { rich_text: [{ text: { content: (($json.gaps)||[]).join('; ').slice(0,1900) } }] },\n    \"Resumo empresa\": { rich_text: [{ text: { content: ($json.resumo_empresa || '').slice(0,1900) } }] },\n    \"Data encontrada\": { date: { start: $now.toISODate() } },\n    \"Status\": { select: { name: 'Novo' } },\n    \"Área\": { select: { name: $json.area_vaga || 'Dev' } }\n  }\n}) }}",
        "options": {}
      },
      "id": "c94deefd-f472-4634-a196-ba375665d131",
      "name": "Criar Página no Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        112
      ],
      "credentials": {
        "notionApi": {
          "id": "9qYPsgJrXoSoyGZh",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "a25149af-6cdd-4c14-a1de-7f5c3800a199",
      "name": "Descartar (abaixo do score)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2640,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.compatibilidade }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "d777fa42-6d76-462c-91f3-3af46457c838"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b0969ca-9b85-44e6-a8ab-2fcbcc92c73e",
      "name": "Compatibilidade >= 50?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        48
      ]
    }
  ],
  "pinData": {
    "Pré-Filtro (Júnior/Estágio + Local)": [
      {
        "json": {
          "id_externo": "remotive_2091068",
          "titulo": "Head of Marketing & Communications",
          "empresa": "garden3d",
          "local": "Worldwide",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/marketing/head-of-marketing-communications-2091068",
          "descricao": "We are hiring a Head of Marketing &amp; Communications to tell the garden3d story across the internet, from wherever in the world you happen to be. More details if you check our original job posting link About garden3d We are worker owned creative collective, innovating on everything from brands and IRL communities to IoT devices and cross platform apps. We share profit, open source everything, spin out new businesses, and invest in exciting ideas through financial and/or in-kind contributions. Our client roster includes Google , Stripe , Figma , Hinge , Black Socialists in America , ACLU , Pratt , Parsons , Mozilla , The Nobel Prize , MIT , Gnosis , Etsy &amp; Gagosian . We’re the software team behind innovative products like The Light Phone &amp; Mill , and we operate a global, decentralized community space collective called Index Space . We think of our garden3d as collective for creative people, prioritizing a happy, talented, and diverse studio culture. We work on projects that bring value to our world, and we balance deep care for the work we do with a genuine curiosity about life outside of our jobs. Sanctuary Computer — Development At Sanctuary Computer we’re building a different type of technology shop – one that prioritizes close collaboration between the client and the craftsperson. Our projects range from design-forward websites, to robust web apps, to native mobile development. XXIX — Design When we started XXIX in 2013, we set out to create a different kind of design studio and we’ve thrived because we continually ask what a creative practice can be. We’re building a radically different kind of organization that values autonomy, growth, transparency, and shared responsibility. Index Space — Community A network of physical spaces all around the world, Index provides space for the exchange of knowledge and tools. We nurture trust within the creative community through generosity and abundance of ideas and care. garden3d TK — Media At garden3d, we’re in the early stages of building an experimental media company exploring emerging themes related to the evolving landscape of technology, design and culture. We aim to monetize this outlet, publish books, produce screenplays, and release music. Plus, our partner organizations https://www.thelightphone.com/ https://www.mill.com/ https://www.ingredient-ai.com/ The Head of Marketing &amp; Communications Role The garden3d Head of Marketing &amp; Communications has one mandate: make sure everything we put on the internet is compelling and interesting. garden3d is a house of brands - Sanctuary Computer (development), XXIX (design), Index Space (community), USB Club (digital community), and the garden3d umbrella itself - and each needs its own voice, its own audience, and its own drumbeat of work worth sharing. Working in close partnership with our founder &amp; president Hugh Francis , this person decides what we make, where it runs, and whether it clears our bar. You can be based anywhere. A lot of our studios, spaces and people gravitate around New York, so there's some pull to be here, and a good part of this job is noticing what's happening in our world and turning it into content. But we already work across timezones, and we would happily hire in Europe, Singapore, Chicago, or wherever you are. If you're the right person, we want to hear from you. This role will interface with studio leads, designers, developers, editors, animators, photographers, community managers, event producers and ad platforms across every garden3d vertical. Simply, this person can easily context shift between our massively diverse set of workstreams, find the most compelling stories, and get them produced at an exceedingly high bar. This person owns our channels end to end: the garden3d Substack , our podcast, Instagram, X, and the paid accounts behind them. They collab with our team, and a rotating cast of freelance editors, designers and animators, and they run the calendar that keeps a dozen work",
          "tags": [],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "id_externo": "remotive_2090989",
          "titulo": "Assistant Account Payable",
          "empresa": "The Obesity Society",
          "local": "USA",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/medical/assistant-account-payable-2090989",
          "descricao": "This role may require you to be on site at times - please check with the employer first. The Accounts Payable Assistant performs accounting and c lerical tasks that are related to accounts payable transactions including receiving and logging invoices, maintaining and updating an accounts payable ledger, generating financial statements and reports, and other financial matters as assigned by the Director of Finance &amp; Operations. The ideal candidate will possess a basic understanding of accounting fundamentals as well as excellent office support skills. Key Responsibilities of the Accounts Payable Assistant: Administrative Duties • Office Support - filing, data retention, mail, and other duties. • Conduct company business according to policies. • Maintain the company’s accounting files as needed Accounts Payable Duties • Process Invoices (Stamping coding and approval stamps, entering coded invoices into accounting software). • Print, mail, and file checks for multiple properties. • Resolutions with vendors – past due balances, misapplied payments, etc. What the Successful Accounts Payable Assistant will have: • High School Diploma or equivalent • Basic understanding of accounting fundamentals or 1 year of accounting experience • Excellent computer skills especially Microsoft Excel, Word, and Outlook • Data entry and/or 10 key experience • Experience with Yardi or other accounting software • High degree of accuracy, attention to detail, and ability to follow through • Professional written and oral communication skills • Prompt and consistent attendance during scheduled work hours • Ability to maintain confidential information",
          "tags": [
            "accounting",
            "excel",
            "data entry",
            "outlook"
          ],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "id_externo": "remotive_1680495",
          "titulo": "Remote Office Assistant",
          "empresa": "Coalition Technologies ",
          "local": "Worldwide",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/marketing/remote-office-assistant-1680495",
          "descricao": "Coalition Technologies is seeking a reliable, detail-oriented, and highly organized Remote Office Assistant to support administrative, bookkeeping, billing, reporting, data entry, and internal operations tasks. This role is ideal for someone with strong communication skills, discretion, attention to detail, and a willingness to learn and grow within a fast-paced remote work environment. As an Office Assistant, you will help support daily administrative operations, assist with entry-level bookkeeping, organize client documents, support internal reporting, and help maintain accurate company records. This position offers strong growth potential for the right candidate, including opportunities for advancement within the Accounting team or other departments. We are looking for talented and diligent candidates who perform well on our skills assessments. Strong skills test performance may be considered even if a candidate does not meet every preferred experience or educational background requirement. Why Join Coalition Technologies? Coalition Technologies is committed to delivering high-quality work for our clients while providing our team with a fun, thriving, innovative, and growth-focused work environment. We offer: 100% remote work with a company that has supported remote team members for more than a decade Competitive profit-sharing bonus plan, with up to 50% of company profits paid to full-time employees each month Competitive Paid Time Off plan that supports work-life balance Subsidized gym memberships Medical, dental, vision, and life insurance packages for eligible US-based team members International Health Insurance Reimbursement Program for eligible international team members Device upgrade and learning reimbursement programs Career development plans with clearly defined goals and rewards Additional job-specific incentives and bonuses Office Assistant Responsibilities As an Office Assistant, your duties will include: Answering phones and emails Completing entry-level bookkeeping tasks, including recording expenses, organizing receipts, and maintaining transaction records Resolving billing issues with clients and internal team members Providing account access, usage reports, data analysis, and other ad hoc support for team members Supporting quality assurance checks for internal and client-facing reports Organizing new client contracts, creating invoices, and processing client payments Contributing to internal database maintenance, upkeep, and data entry Researching, ordering, and distributing company-wide gifts two to three times per year Organizing company events, competitions, and special projects throughout the year Facilitating company holiday calendars, time-off calendars, and schedule variation calendars Required Skills and Qualifications The ideal candidate will have: Willingness to learn, grow, and collaborate with the team and company as a whole Excellent verbal and written communication skills High level of discretion, ethics, and trustworthiness Strong attention to detail and organizational skills Ability to support administrative, bookkeeping, billing, reporting, and data entry tasks Innovative thinking and willingness to challenge existing methods when improvement is possible Availability to work 40 hours per week, Monday through Friday, 9:00 a.m. to 6:00 p.m. Pacific Time Reliable remote workspace with a fast computer, quality internet, camera, microphone, and speakers Preferred Skills The following experience is preferred but not required: Intermediate spreadsheet skills Experience with bookkeeping or financial record keeping Experience with Google Sheets, Microsoft Excel, QuickBooks Online, and Google Workspace Experience supporting billing, invoicing, reporting, data entry, or administrative operations Remote Work Environment Coalition Technologies is a fully remote company. Our team works remotely with the support of time tracking software, structured communication, and a company culture designed to help ",
          "tags": [
            "CSS",
            "excel",
            "frontend",
            "git",
            "html",
            "illustrator",
            "magento",
            "photoshop",
            "php",
            "shopify",
            "wordpress",
            "MySQL",
            "startup",
            "responsive",
            "themes",
            "bootstrap",
            "insurance",
            "jQuery",
            "Ajax"
          ],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "id_externo": "remotive_2086540",
          "titulo": "Inside Sales Contractor",
          "empresa": "Credit Wellness, LLC",
          "local": "Worldwide",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/sales/inside-sales-contractor-2086540",
          "descricao": "About Us We are a financial services start up focusing on helping to improve consumer credit profiles. We are currently seeking KPI driven sales representatives looking to earn up to 45K in their first year while working remotely. We offer comprehensive training and continuous sales coaching to help you meet your financial goals. During our training period we offer a guaranteed training stipend while our trainees are acclimating to the position (*see weekly pay below). If you are a seasoned sales professional looking for the autonomy of a remote position combined with great compensation, we want to hear from you! Compensation Structure This role is 100% commission-based , which means your earning potential is unlimited. In addition, we regularly offer competitive performance-based bonuses to reward hard work and results. Training Period (Weeks 1–4) We invest in your success and want to make sure you’re supported as you get up to speed: Week 1: Commission-only (a chance to start earning right away while learning the ropes). Weeks 2–4: Guaranteed training stipend of $1,000 total – or your commission if it’s higher. You’ll always receive whichever amount benefits you most. Week 2: $250 guaranteed minimum Week 3: $325 guaranteed minimum Week 4: $425 guaranteed minimum By the end of training, you’ll have the skills to maximize commissions, with the safety net of a guaranteed base during your ramp-up period. Post Training Period: Average first year OTE: 25K-35K (US) Annually Top Rep first year OTE: 35K-45K (US) Annually *The above is the average pay you can expect, however, there is unlimited earning potential for those who are financially motivated top performers looking to exceed sales targets. What will you be doing? Educating inbound callers on their credit standing by providing consultations with the goal of enrolling them in one of our services should they be a good fit. We are looking for team members who are: Tech savvy with the ability to navigate digital tools such as SLACK, CRM software, google sheets, etc. Our team uses these digital tools daily. Growth oriented and always looking to learn and acquire new skills. Autonomous self starters who can work independently and efficiently. Team players with the ability to implement feedback from their sales coaches. Patient and professional with clients. Finances can be a difficult topic for some clients to discuss. We are looking for individuals who showcase empathy and professionalism especially under pressure! Financially motivated individuals who can meet and exceed sales targets. Outgoing with outstanding rapport building and active listening skills. Can you carry a conversation with anyone? This may be for you! You will need: Home office or a quiet place to work. Strong internet connection. Desktop or laptop (*Please Note: Devices such as Chromebooks, IPADs and laptops with 8G’s of RAM and under will have issues supporting our system) Scheduling Training: The schedule for the first four weeks of our training period is 10 AM - 6 PM EST. *The first week of training is mandatory for all new trainees. If a day is missed you may be asked to restart the first week of training. Post Training: We are currently seeking representatives to work on the following schedule: Monday - Friday Shift hours to be discussed with our hiring manager based on our company's needs at the time of hire. Shifts are as follows: 8:00 AM - 4:00 PM EST 8:30 AM - 4:30 PM EST 9:00 AM - 5:00 AM EST 9:30 AM - 5:30 PM EST 10:00 AM - 6:00 PM EST 10:30 AM - 6:30 PM EST 11:00 AM - 7:00 PM EST 11:30 AM - 7:30 PM EST 12:30 PM - 8:30 PM EST 1:30 PM - 9:30 PM EST 2:30 PM - 10:30 PM EST 3:00 PM - 11:00 PM EST Job Type: Contract Shift: 8 hour shift Day shift Evening shift Morning shift Night shift Supplemental Pay: Bonus opportunities Commission pay Experience: Sales: 1 year (Required) Work Location: Remote",
          "tags": [
            "CRM",
            "google sheets",
            "financial services",
            "Inside Sales"
          ],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "id_externo": "remotive_2091047",
          "titulo": "Online Data Analyst Canada (French Language) (C)",
          "empresa": "TELUS Digital",
          "local": "Canada",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/all-others/online-data-analyst-canada-french-language-c-2091047",
          "descricao": "Are you a detail-oriented individual with a passion for research and a good understanding of national and local geography? This freelance opportunity allows you to work at your own pace and from the comfort of your own home. A Day in the Life of an Online Data Analyst: In this role, you will be working on a project aimed at enhancing the content and quality of digital maps that are used by millions of people worldwide Completing research and evaluation tasks in a web-based environment such as verifying and comparing data, and determining the relevance and accuracy of information. Join us today and be part of a dynamic and innovative team that is making a difference in the world! TELUS Digital AI Community Our global AI Community is a vibrant network of 1 million+ contributors from diverse backgrounds who help our customers collect, enhance, train, translate, and localize content to build better AI models. Become part of our growing community and make an impact supporting the machine learning models of some of the world’s largest brands. Qualification path No previous professional experience is required to apply to this role, however, working on this project will require you to pass the basic requirements and go through a standard assessment process. This is a part-time long-term project and your work will be subject to our standard quality assurance checks during the term of this agreement. Basic Requirements Full Professional Proficiency in French language Being a resident in Canada for the last 5 consecutive years and having familiarity with current and historical business, media, sport, news, social media, and cultural affairs in Canada. Ability to follow guidelines and conduct online research using search engines, online maps, and website information Flexibility to work across a diverse set of task types, including maps, news, audio tasks, and relevance Daily access to a broadband internet connection, computer, and relevant software Assessment In order to be hired into the program, you’ll take an open book qualification exam that will determine your suitability for the position and complete ID verification. Our team will provide you with guidelines and learning materials before your qualification exam. You will be required to complete the exam in a specific timeframe but at your convenience. Equal Opportunity All qualified applicants will receive consideration for a contractual relationship without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, disability, or protected veteran status. At TELUS Digital AI, we are proud to offer equal opportunities and are committed to creating a diverse and inclusive community. All aspects of selection are based on applicants’ qualifications, merits, competence, and performance without regard to any characteristic related to diversity.",
          "tags": [
            "go",
            "social media",
            "AI/ML",
            "research",
            "diversity"
          ],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 19
        }
      },
      {
        "json": {
          "id_externo": "remotive_1185979",
          "titulo": "Freelance Writer",
          "empresa": "IAPWE",
          "local": "Worldwide",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/writing/freelance-writer-1185979",
          "descricao": "Our organization is seeking content writers to create articles and blog posts on a variety of topics. The rate of pay is $20 per 100 words (this comes out to approximately $100 per article or $50 per hour). Some topics you may be asked to write about include the following (you can always turn down a topic if you do not feel comfortable writing about it, however if you have experience or expertise in a specific area, please let us know): Health &amp; beauty Fitness Home Decor Fashion Sports Do it yourself Finance Legal Medical Family/Parenting Relationships Real Estate Restaurants Contracting (plumbing, pool building, remodeling, etc.) These are just some of the more general industries and topics that we cover. Requirements : We ask that all work be completed using a word processor such as Microsoft Word or Open Office A reliable internet connection and the ability to meet deadlines Good communication skills and respond in a timely manner to editorial staff when they ask for updates on tasks, etc Work well as a team member with the rest of our content management and editorial staff Note : Applicants to this job signaled that accessing some writing tasks may require payment.",
          "tags": [
            "REST"
          ],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 21
        }
      },
      {
        "json": {
          "id_externo": "remotive_2091038",
          "titulo": "Sales Assistant ",
          "empresa": "Endureed by Global Innovation ",
          "local": "USA",
          "remoto": true,
          "link": "https://remotive.com/remote-jobs/sales/sales-assistant-2091038",
          "descricao": "This role may require you to be on site at times - please check with the employer first. Job Title: Sales Assistant Company: Endureed Location: Lake City, FL / Remote eligible Reports to: VP of Global Sales ABOUT THE ROLE The Sales Assistant is the operational backbone of the US sales team. You'll provide hands-on administrative, coordination, and customer support to the VP of Global Sales — keeping the department running smoothly, accurately, and on time across residential and Strategic Partner (SP) channels. This isn't a role for someone who wants to wing it, work independently without structure, or stay at arm's length from the details. It's a role for someone who finds real satisfaction in making sure nothing falls through the cracks someone who takes pride in accuracy, follows through without being asked twice, and genuinely enjoys being the person others can count on. If you're the kind of person who gets energized by creating order, supporting a team, and doing the unglamorous-but-critical work that makes everything else possible keep reading. ✓ You'll thrive here if you... • Get genuine satisfaction from organizing, tracking, and keeping things accurate • Take ownership of tasks and follow through without being reminded • Prefer a defined role with clear expectations over open-ended autonomy • Are naturally calm, steady, and don't rattle easily when things get busy • Build trust by being dependable, not by being loud • Take pride in serving others and helping your team look good • Are bilingual in English and Spanish and comfortable using both professionally • Thrive in a structured, process-driven environment with consistent routines ✗ This role is NOT for you if you... • Need to be the center of attention or get credit to feel motivated • Prefer creating your own process over following an established one • Dislike repetitive tasks or detailed administrative work • Get bored or frustrated when you're not driving strategy or making big decisions • Struggle to stay organized when managing multiple people's priorities at once • Want flexibility to define your own schedule or work style without check-ins • Move fast and loose, accuracy and follow-through aren't your strong suits • Are looking for a stepping stone to a sales rep role as fast as possible KEY RESPONSIBILITIES Day-to-day, you will: • Provide administrative support to the VP of Global Sales, calendar management, scheduling, travel coordination, and communications • Prepare and update sales reports, presentations, and customer-facing materials for residential and SP accounts • Own CRM data entry, lead tracking, and pipeline management, data must be accurate and current at all times • Coordinate between the sales team and the SP network, including onboarding new partners and managing ongoing communication • Track SP territory coverage and ensure Basics product line distribution aligns with current SP network policies • Conduct market and competitor research to support US sales strategy • Help organize sales campaigns, trade shows, events, and client meetings, logistics, materials, follow-up • Ensure timely document and information flow between the sales team, operations, and other departments • Support order processing and client onboarding across residential and SP channels WHAT YOU BRING • Bilingual — English and Spanish required, written and spoken (non-negotiable) • 2+ years in a sales support, coordinator, or administrative role, you've done this before and you're good at it • CRM experience required; NetSuite or similar ERP a strong plus • Proficiency with Microsoft Office and/or Google Workspace, especially Excel/Sheets and PowerPoint/Slides • Exceptional organizational skills, you manage multiple moving pieces without losing track of any of them • High attention to detail, errors bother you before anyone else catches them • Calm, professional communication style, written and verbal • Experience in building materials, construction, or a product-based indu",
          "tags": [
            "research",
            "CRM",
            "onboarding",
            "data entry",
            "travel"
          ],
          "fonte": "Remotive"
        },
        "pairedItem": {
          "item": 28
        }
      },
      {
        "json": {
          "id_externo": "arbeitnow_mitarbeiter-in-verwaltung-administration-25h-w-werther-448901",
          "titulo": "Mitarbeiter (m/w/d) in Verwaltung - Administration (m/w/d) 25h/W",
          "empresa": "uNaice GmbH",
          "local": "Werther",
          "remoto": true,
          "link": "https://www.arbeitnow.com/jobs/companies/unaice-gmbh/mitarbeiter-in-verwaltung-administration-25h-w-werther-448901",
          "descricao": "uNaice ist Pionier im Bereich der automatisierten Contentproduktion und automatisierten Datenaufbereitung und -anreicherung. Wir entwickeln Kunden, die sich an der Schwelle zur Digitalisierung befinden. Unsere Kunden sind u.A. Top-Player im E-Commerce wie adidas, Wago, TUI, C&#x26;A, aber auch Verlage wie Neue Westfälische Zeitung, Volksstimme und vor allem internationale Hersteller, mit sehr großen Datenmengen und Bedarf an internationalem Content. Unsere Arbeit versetzt die Pioniere der Branche in die Lage, automatisiert Daten und/ooder Content zu normieren, zu glätten, zu strukurieren und anzureichern und dies alles vollautomatisch. Kurz gesagt: Wir können aus Texten Datensätze mit Attributen und Attributswerten machen, oder aus Daten auf Knopfdruck unique, conversionstarke und SEO-relevante Produktbeschreibungen und Kategorieseiten erstellen und publizieren. Und das in 110 Sprachen. Zur Verstärkung unseres Teams suchen wir einen engagierten Mitarbeiter (m/w/d) im Bereich Verwaltung, der unsere Kunden von Geschäftsanbahnung bis Customer Success mit den relevanten Verwaltungsaufgaben begleitet. Dein gemeldeter Wohnsitz ist in Deutschland. Dein Anschreiben wünschen wir uns in deutscher Sprache. Du sprichst Deutsch und Englisch fließend. Aufgaben uNaice wächst und mit uns auch die Anforderungen in der Verwaltung und Administration. Hervorragende Prozesse und Organisation in der Verwaltung sind eine entscheidende Grundlage für fehlerfreies Wachstum. Unsere Prozesse und Abläufe sind in einem Wiki und in div. Video-Tutorials sauber dokumentiert, daher ist ein erfolgreiches Onboarding vom Start gewährleistet. Du bist verantwortlich für eine Angebotswesen. Verantwortlich die Vorgaben der Produktion in richtige Kalkulation zu verwandeln und dabei Angebote so zu erstellen, dass Kunden nachvollziehen können, was sie erhalten Liquiditätsmanagement. Du bist verantwortlich, dass immer genug Liquidität unter dem Kiel des Unternehmens ist. Das umfasst Faktura, Mahnwesen, Debitoren- und Kreditorenmanagement Administratives Bindeglied zwischen Vertrieb und Produktion mit Kontakt zum Kunden. Du übernimmst das verwaltungstechnische Onboarding unserer Kunden und die reibungslose Übergabe in die Produktion Qualifikation Du hast idealerweise eine fundierte, kaufmännische Ausbildung, Studium ist nicht Pflicht, möglicherweise jedoch schön für deine weiteren Karrieremöglichkeiten innerhalb der uNaice. Du bist absolut fit im Umgang mit dem Internet, arbeitest mit Chrome und kennst Firefox und Explorer nur aus Erzählungen. Die GSuite ist dir auch näher als Office365. Du kannst eine Bilanz richtig rum halten und dir ist klar wo in der GuV die relevanten Zahlen stehen. Du beherrschst den Unterschied zwischen Handelsspanne und Rohertrag und kannst Kalkulationen mit einem einfachen Dreisatz schnell plausibilisieren. Du bist zuverlässig, schnell, extrem lernwillig und lernfähig, zäh in der Auseinandersetzung mit neuen Herausforderungen und Aufgaben. Du hinterfragst auch gerne mal Prozesse und denkst mit, denn Weiterentwicklung ist für dich ein must have. Du sprichst Englisch perfekt und schreibst fehlerfrei. Perspektivisch hast du große Lust dich fortzubilden, zu lernen, zu wachsen und auch neue und zusätzliche Herausforderungen anzunehmen. Dich prägt eine AI first Arbeitsethik und Methodik. Vom ersten Tag an automatisierst du deine low-hanging-fruit Aufgaben weg, damit dein Weg frei wird für mehr Fachkompetenz. Benefits Remote arbeiten zu 100% regelmäßige Präsenztreffen mindestens einmal pro Jahr unregelmäßige Präsenztreffen quartärlich in Teamkonstellation in Abhängkeit von Projekten Karrieremöglichkeiten: Nach Betriebszugehörigkeit von mindestens einem Jahr und zweimaliger A-Bewertung, ist der Weg frei für eine vierstufige Fachkarriere-Entwicklung (E4-E1) Ab Fachkarriere-Entwicklungsstufe E3 ist optional auch die Ausbildung zur Teamleitung möglich. Zeitsouveränes arbeiten: Du bestimmst deine Arbeitszeiten grundsätzlich selbst, sie müssen jedoch in der Z",
          "tags": [
            "Remote",
            "Administration"
          ],
          "fonte": "Arbeitnow"
        },
        "pairedItem": {
          "item": 91
        }
      },
      {
        "json": {
          "id_externo": "arbeitnow_projektingenieur-wegerecht-genehmigungsmanagement-all-genders-frankfurt-am-main-345921",
          "titulo": "Projektingenieur Wegerecht & Genehmigungsmanagement (all genders)",
          "empresa": "Accenture",
          "local": "Frankfurt am Main",
          "remoto": true,
          "link": "https://www.arbeitnow.com/jobs/companies/accenture/projektingenieur-wegerecht-genehmigungsmanagement-all-genders-frankfurt-am-main-345921",
          "descricao": "Aufgaben Gestalte mit uns die Infrastruktur der Energiewende: In komplexen Großprojekten rund um Energie- und Verkehrsnetze übernimmst du eine zentrale Rolle bei der Sicherung von Trassen und der Steuerung von Genehmigungsverfahren. Dich erwartet ein dynamisches, interdisziplinäres Umfeld mit direktem Impact auf die Energiezukunft. Deine Mission Du steuerst Infrastrukturprojekte mit Fokus auf Wegerecht, Trassensicherung und Genehmigungsmanagement und bringst Projekte gemeinsam mit Kunden und Stakeholdern erfolgreich zur Umsetzung. Dabei nutzt du deine Expertise, um Prozesse effizient, strukturiert und datenbasiert weiterzuentwickeln. Das erwartet dich Projekte steuern &#x26; Überblick behalten Du übernimmst Verantwortung für Arbeitspakete oder Teilprojekte in großen Infrastrukturvorhaben und sorgst für eine strukturierte Steuerung von Zeit, Qualität und Schnittstellen. Dabei koordinierst du interne Teams sowie externe Partner und stellst eine reibungslose Projektumsetzung sicher. Wegerechte sichern &#x26; Lösungen verhandeln Du begleitest Themen rund um Wegerecht, Flächen- und Trassensicherung – von der Vorbereitung bis zur Umsetzung. In Abstimmung mit Eigentümern, Behörden und weiteren Stakeholdern erarbeitest du tragfähige Lösungen und bringst Verhandlungen zielgerichtet zum Abschluss. Genehmigungen vorantreiben &#x26; Anforderungen steuern Du steuerst Genehmigungs-, Einwendungs- und Auflagenprozesse und sorgst dafür, dass regulatorische Anforderungen effizient umgesetzt werden. Dabei arbeitest du mit relevanten Regelwerken und entwickelst bestehende Methoden kontinuierlich weiter. Daten strukturieren &#x26; Prozesse verbessern Du arbeitest mit Wegerechts- und Geodaten, stellst ein sauberes Daten- und Dokumentenmanagement sicher und bringst dich aktiv in die Weiterentwicklung digitaler Tools und Prozesse ein, um Projekte noch effizienter zu gestalten. Qualifikation Darauf freuen wir uns: Du hast ein abgeschlossenes Studium im Bauingenieurwesen, Wirtschaftsingenieurwesen, Elektrotechnik oder einem vergleichbaren Fachgebiet Du bringst erste oder mehrjährige Erfahrung in Infrastrukturprojekten mit, idealerweise im Bereich Wegerecht, Trassensicherung oder Genehmigungsmanagement Du kennst dich idealerweise mit öffentlich-rechtlichen Verfahren (z. B. NABEG, EnWG, VwVfG) aus Du überzeugst durch analytisches Denken, strukturierte Arbeitsweise und ausgeprägte Kommunikationsstärke Du bist sicher im Umgang mit relevanten Tools und arbeitest gerne in interdisziplinären Teams Du bist bereit, projektbezogen zu reisen und verfügst über sehr gute Deutsch- sowie gute Englischkenntnisse Benefits Deine Vorteile bei Accenture Ein flexibles Arbeitsmodell, bei dem du die Möglichkeit hast, mobil zu arbeiten, ein eigenverantwortliches Überstundenkonto zuführen und deine Arbeitszeit aktiv selbst zu gestalten Zugriff auf umfassende Weiterbildungsmöglichkeiten zu den neusten Technologie- Trends sowie Soft Skills, damit du immer up-to-date bleibst Diverse sowie gleichberechtigte Teammitglieder liegen uns sehr am Herzen und um den Team-Zusammenhalt zu stärken, fördern wir regelmäßig Events und Veranstaltungen für dich und dein Team Ein attraktives und marktkonformes Vergütungspaket, welches du durch individuelle Zielerreichung selbst gestalten kannst Weitere Benefits, die unserer Meinung nach zum Standard gehören, aber nicht vergessen werden sollten: Mitarbeitenden-Rabatte, die Möglichkeit ein Job-Rad oder einen PkW zu Firmenkonditionen zu leasen, das Partizipieren an unserem Aktienprogramm, Versicherungs- und Altersvorsorge-Möglichkeiten und noch vieles mehr… Die Accenture-Kultur: Hier machst DU den Unterschied Deine Fähigkeiten, dein Naturell und deine Ambitionen machen dich einzigartig. Und wenn die unterschiedlichsten Talente, Stärken und Sichtweisen aufeinandertreffen, entsteht etwas Großartiges: Ideen, die in der Welt etwas bewegen. Deshalb setzen wir bei Accenture auf Diversität und freie Entfaltung. Schaffe dir ein Arbeitsumfeld, in dem du aufge",
          "tags": [
            "Remote",
            "Engineering"
          ],
          "fonte": "Arbeitnow"
        },
        "pairedItem": {
          "item": 115
        }
      },
      {
        "json": {
          "id_externo": "arbeitnow_buchhalter-controller-all-genders-berlin-299765",
          "titulo": "Buchhalter / Controller (all genders)",
          "empresa": "theBASE FOL Group GmbH",
          "local": "Berlin",
          "remoto": true,
          "link": "https://www.arbeitnow.com/jobs/companies/thebase-fol-group-gmbh/buchhalter-controller-all-genders-berlin-299765",
          "descricao": "Wir wollen die Art und Weise, wie Menschen in Zukunft wohnen und gemeinsam leben, revolutionieren. The Base bedeutet Co-Living in außergewöhnlicher Atmosphäre, stylishen Apartments, einladenden Social Areas und aufregende Events. In unseren Locations haben wir Apartments für unsere Bewohner*in, die mehrere Monate bei uns leben und Hotelzimmer für unsere Gäste. Unser Ziel ist es, die beste Community aus inspirierenden und weltoffenen Menschen zusammen zu bringen, die miteinander leben, sich connecten, Spaß haben und gemeinsam Neues schaffen. LIVE.BELONG.GROW. Wir sind ein kleines, dynamisches Team und glauben daran, dass jede Idee die Berechtigung hat den Unterschied zu machen. Wir suchen Teammitglieder, die sich leidenschaftlich einbringen und Lust haben mit uns die Zukunft des Wohnens zu etablieren und die beste Community der Welt zu schaffen! Aufgaben In dieser Rolle erwartet dich ein breites Spektrum aus Buchhaltung und Controlling. Du wirst Teil unseres Finanzteams und arbeitest über verschiedene Gesellschaften hinweg mit rund 150.000 Buchungen im Jahr. Auf der einen Seite sorgst du für eine gründliche und detailgenaue laufende Buchhaltung bis auf Belegebene. Auf der anderen Seite analysierst du Zahlen, verstehst Abweichungen und schaffst fundierte Entscheidungsgrundlagen Mitarbeit in der laufenden Finanzbuchhaltung inklusive Debitoren-, Kreditoren- und Anlagenbuchhaltung Detailgenaue Prüfung, Kontierung und Verbuchung von Eingangs- und Ausgangsrechnungen Intercompany-Abstimmungen und -Abrechnungen zwischen den Gesellschaften Administration des Zahlungsverkehrs Aktive Unterstützung bei den kommenden Jahresabschlüssen nach HGB (Bilanz, GuV, Cashflow) Pflege und Umsetzung des monatlichen Reportings inklusive BWA-Kommentierung Analyse von Soll-Ist-Abweichungen sowie Ableitung betriebswirtschaftlicher Maßnahmen Erstellung von Budgets, Forecasts, Reports und Liquiditätsübersichten für interne und externe Stakeholder Abstimmung mit Steuerberater, Wirtschaftsprüfer und Finanzverwaltung Qualifikation Fundierte Berufserfahrung in der Buchhaltung (Debitoren, Kreditoren, Anlagen, Intercompany), idealerweise in einem Multi-Entity-Umfeld oder aus einer Position mit breiter Eigenverantwortung Erfahrung in der detailgenauen Rechnungsprüfung und Kontierung sowie ein fundiertes Verständnis von HGB-Abschlüssen, idealerweise mit Erfahrung in der Mitarbeit an Jahresabschlüssen Controlling-Kompetenz: Du leitest aus Zahlen KPIs, Forecasts und betriebswirtschaftliche Maßnahmen ab Sicherer Umgang mit DATEV ist Voraussetzung sowie ausgeprägte Excel-Skills Schnelle Auffassungsgabe, ein hohes Maß an Eigenständigkeit und ein gutes Auge fürs Detail Verhandlungssichere Deutsch- und Englischkenntnisse in Wort und Schrift Das ist ein Plus: Erste Erfahrung mit BI-Tools und im Aufbau von Reporting-Strukturen von Grund auf Hintergrund in Hospitality, Real Estate oder einem Multi-Entity-Setup Interesse an Automatisierung und Prozessoptimierung (API-Schnittstellen, Buchungsautomatisierung) Benefits Die Möglichkeit, an einem aufstrebenden, innovativen Geschäftsmodell zu arbeiten, das die Zukunft des Wohnens in Metropolen auf der ganzen Welt aktiv gestaltet Ein spannendes und abwechslungsreiches Aufgabengebiet in einem wachsenden Unternehmen, bei dem du die Chance hast, deinen Einfluss geltend zu machen und aktiv zum Erfolg beizutragen Eine Start-up-Kultur mit flachen Hierarchien, offener Kommunikation und einer positiven internationalen Arbeitsumgebung. Du wirst mit Menschen zusammenarbeiten, die für unsere Mission brennen und bereit sind, innovative Ideen voranzutreiben. Flexible Arbeitszeiten sowie die Möglichkeit regelmäßig im Homeoffice zu arbeiten, um eine ausgewogene Work-Life-Balance zu fördern und deine persönlichen Bedürfnisse zu berücksichtigen Find Jobs in Germany on Arbeitnow",
          "tags": [
            "Remote",
            "Finance"
          ],
          "fonte": "Arbeitnow"
        },
        "pairedItem": {
          "item": 116
        }
      },
      {
        "json": {
          "id_externo": "arbeitnow_frontend-softwareentwickler-braunschweig-186839",
          "titulo": "Frontend Softwareentwickler (m/w/d)",
          "empresa": "TecFox GmbH",
          "local": "Braunschweig",
          "remoto": true,
          "link": "https://www.arbeitnow.com/jobs/companies/tecfox-gmbh/frontend-softwareentwickler-braunschweig-186839",
          "descricao": "Begeisterst du dich für moderne Webanwendungen, gut strukturierte Software und leistungsfähige Single-Page-Applikationen? Dann ist TecFox vielleicht genau der richtige nächste Schritt in deiner Karriere. Als vorausschauend agierender IT-Dienstleister realisieren wir bundesweit anspruchsvolle Projekte für namhafte Kunden aus vielfältigen Branchen. Wir kombinieren fundiertes technisches Wissen mit praxisnahen, sofort umsetzbaren Lösungsansätzen. Geprägt wird unser Arbeitsalltag von flachen Hierarchien, effizienten Prozessen und einer bewusst schlanken Organisationsstruktur. Aufgaben In deiner Rolle als Frontend-Entwickler:in gestaltest du bei uns innovative Benutzeroberflächen und bringst dich aktiv in technische wie qualitätsbezogene Entscheidungsprozesse ein: Erfassung und Analyse von Anforderungen sowie eigenständige Entwicklung zeitgemäßer UI-Konzepte Konzeption, Ausgestaltung und Realisierung von Architektur- und Umsetzungslösungen Umsetzung leistungsfähiger und nutzerfreundlicher Frontends mit Angular (Version 18 oder höher) auf Basis bestehender Designvorgaben Bei Bedarf Einsatz von UI-Bibliotheken wie beispielsweise PrimeNG Erstellung, Pflege und Ausführung von Tests zur nachhaltigen Sicherstellung der Codequalität Qualifikation Du passt gut zu uns, wenn du methodisch vorgehst und großen Wert auf Qualität sowie sauberen, langfristig tragfähigen Code legst: Mehrjährige Berufserfahrung in der Frontend- und UI-Entwicklung Fundierte Angular-Kenntnisse, idealerweise ab Version 18 Solides Verständnis moderner Frontend-Architekturen und bewährter Vorgehensweisen Praxiserfahrung in der Entwicklung von Single-Page-Anwendungen, idealerweise mit Bezug zu Micro-Frontend-Architekturen Solide TypeScript-Kenntnisse sowie Erfahrung bei der Anbindung von REST-APIs nach dem API-First-Prinzip Sicherer Umgang mit Test-Frameworks wie Jest oder Jasmine Praxis im Schreiben klar strukturierter und aussagekräftiger Unit-Tests Gespür für Responsive Design sowie ein Auge für aktuelle UI- und UX-Entwicklungen Hoher Anspruch an wartbaren, nachvollziehbaren und stabilen Code Sehr gute Deutschkenntnisse in Wort und Schrift (mindestens Niveau C1) Benefits Wir schaffen Bedingungen, die sowohl deine berufliche Weiterentwicklung als auch eine gute Work-Life-Balance fördern: Flexible Arbeitszeitgestaltung sowie Möglichkeiten für mobiles Arbeiten und Homeoffice Großer Gestaltungsspielraum für eigene Ideen und ein hohes Maß an Eigenverantwortung Eine offene, wertschätzende Firmenkultur mit kurzen Entscheidungswegen Abwechslungsreiche, anspruchsvolle Projekte mit renommierten, teils internationalen Kunden Moderne Arbeitsausstattung mit frei wählbarer Hardware Kostenfreie Getränke, frisches Obst und hochwertiger Kaffee im Büro Regelmäßige Team-Veranstaltungen und ein ausgeprägtes Gemeinschaftsgefühl Breites Weiterbildungsangebot sowie individuelle Entwicklungs- und Aufstiegsmöglichkeiten Attraktive Vergütung und sehr gute Vertragsbedingungen Neugierig geworden? Wir freuen uns auf deine Bewerbung! Schick uns deine Unterlagen gerne zusammen mit deinem frühestmöglichen Eintrittstermin und deiner Gehaltsvorstellung – wir sind gespannt darauf, dich kennenzulernen. Find Jobs in Germany on Arbeitnow",
          "tags": [
            "Remote",
            "Software Development"
          ],
          "fonte": "Arbeitnow"
        },
        "pairedItem": {
          "item": 119
        }
      }
    ]
  },
  "connections": {
    "Agendamento (8h todo dia)": {
      "main": [
        [
          {
            "node": "Perfil Profissional (Agente 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perfil Profissional (Agente 1)": {
      "main": [
        [
          {
            "node": "Config - Termos de Busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Vagas já salvas no Notion": {
      "main": [
        [
          {
            "node": "RemoteOK - Buscar Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remotive - Buscar Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Arbeitnow - Buscar Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Indeed Scraper - Busca Vagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin Scraper - Busca Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoteOK - Buscar Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotive - Buscar Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Arbeitnow - Buscar Vagas": {
      "main": [
        [
          {
            "node": "Juntar Fontes 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indeed Scraper - Busca Vagas": {
      "main": [
        [
          {
            "node": "Normalizar - Indeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Scraper - Busca Vagas": {
      "main": [
        [
          {
            "node": "Normalizar - Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar - Indeed": {
      "main": [
        [
          {
            "node": "Juntar Fontes 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar - Linkedin": {
      "main": [
        [
          {
            "node": "Juntar Fontes 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Juntar Fontes 4": {
      "main": [
        [
          {
            "node": "Juntar Fontes 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Juntar Fontes 1": {
      "main": [
        [
          {
            "node": "Juntar Fontes 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Fontes 3": {
      "main": [
        [
          {
            "node": "Juntar Fontes 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Juntar Fontes 2": {
      "main": [
        [
          {
            "node": "Normalizar + Deduplicar (Agente 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar + Deduplicar (Agente 2)": {
      "main": [
        [
          {
            "node": "Pré-Filtro (Júnior/Estágio + Local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pré-Filtro (Júnior/Estágio + Local)": {
      "main": [
        [
          {
            "node": "Processar Uma Vaga por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Uma Vaga por Vez": {
      "main": [
        [],
        [
          {
            "node": "GPT - Avaliar Compatibilidade (Agente 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT - Avaliar Compatibilidade (Agente 3)": {
      "main": [
        [
          {
            "node": "Parse Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resposta IA": {
      "main": [
        [
          {
            "node": "Compatibilidade >= 50?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Página no Notion": {
      "main": [
        [
          {
            "node": "Processar Uma Vaga por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descartar (abaixo do score)": {
      "main": [
        [
          {
            "node": "Processar Uma Vaga por Vez",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config - Termos de Busca": {
      "main": [
        [
          {
            "node": "Buscar Vagas já salvas no Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compatibilidade >= 50?": {
      "main": [
        [
          {
            "node": "Criar Página no Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descartar (abaixo do score)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22fb3c8c-31e2-4bb5-87cf-429d7071d9a4",
  "meta": {
    "instanceId": "8ed02b655b0a269884492232e0d8d9d8e3bb0ac1c5e77b75cb8925644dc06d9d"
  },
  "nodeGroups": [],
  "id": "Y2OTDP8L6kGrPFNa",
  "tags": []
}